/server/.idea
/server/HELP.md
/server/target
/server/build
/server/.mvn*
/server/src/main/resources

/app/build
/app/android/app/debug
/app/app/profile
/app/android/app/release
/app/.idea/
/app/*.iml
/app/.pub/
/app/.flutter-plugins
/app/.flutter-plugins-dependencies
/app/.packages
/app/lib/config.dart

/client/node_modules
/client/build
/client/.env

.vscode
